<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Practice Portal</h1>
        <p>Group 2: TeleVist & Appointment Scheduling</p>
        <!-- Test Buttons -->
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/calendar?userType=r&userId=501" role="button">Receptionist View</a>
          <a class="btn btn-secondary btn-lg" href="/calendar?userType=d&userId=1" role="button">Doctor View</a>
        </p>
    </div>
</main>

</body>
</html>